Source: compute
Section: admin
Priority: optional
Maintainer: ge <ge@nixhacks.net>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-python3,
 bash-completion,
 pybuild-plugin-pyproject,
 python3-poetry-core,
 python3-setuptools,
 python3-all,
 python3-sphinx,
 python3-sphinx-multiversion,
 python3-sphinx-argparse,
 python3-libvirt,
 python3-lxml,
 python3-yaml,
 python3-pydantic
Standards-Version: 4.6.2
Homepage: https://git.lulzette.ru/hstack/compute

Package: compute
Architecture: all
Depends:
 ${python3:Depends},
 ${misc:Depends},
 qemu-system,
 qemu-utils,
 libvirt-daemon-system,
 libvirt-clients,
 python3-libvirt,
 python3-lxml,
 python3-yaml,
 python3-pydantic
Recommends:
 dnsmasq
Suggests:
 compute-doc
Description: Compute instances management library and tools (Python 3)

Package: compute-doc
Section: doc
Architecture: all
Depends:
 ${sphinxdoc:Depends},
 ${misc:Depends},
Description: Compute instances management library and tools (documentation)
